<h1>Hello the signUP page</h1>
<form action="/signup" method="POST">
<label >Name</label>
<input name="name" type="text" placeholder="Enter name here">

<label>Email</label>
<input name="Email" type="text" placeholder="Enter email">

<label>Password</label>
<input name="password" type="text" placeholder="Enter password">

<button type="submit">Sing up!</button>
</form>