<h1>Hello, the signIN page</h1>
<form action="/signin" methode="POST">
<label>Email</label>
<input name="name" type="text" placeholder="Enter email">

<label>Password</label>
<input name="password" type="text" placeholder="Enter password">


</form>

